<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuw.common.server.dao.SmsRecordMapper">
  <resultMap id="BaseResultMap" type="com.wuw.common.server.model.DO.SmsRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
    <result column="third_type" jdbcType="VARCHAR" property="thirdType" />
    <result column="send_code" jdbcType="VARCHAR" property="sendCode" />
    <result column="validate_code" jdbcType="INTEGER" property="validateCode" />
    <result column="send_date" jdbcType="TIMESTAMP" property="sendDate" />
    <result column="validate_expire_time" jdbcType="TIMESTAMP" property="validateExpireTime" />
    <result column="finish_date" jdbcType="TIMESTAMP" property="finishDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="third_request_id" jdbcType="VARCHAR" property="thirdRequestId" />
    <result column="third_error_msg" jdbcType="VARCHAR" property="thirdErrorMsg" />
    <result column="third_result_code" jdbcType="VARCHAR" property="thirdResultCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wuw.common.server.model.DO.SmsRecord">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, template_id, third_type, send_code, validate_code, send_date, validate_expire_time, 
    finish_date, status, third_request_id, third_error_msg, third_result_code
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sms_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sms_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuw.common.server.model.DO.SmsRecord">
    insert into sms_record (id, template_id, third_type, 
      send_code, validate_code, send_date, 
      validate_expire_time, finish_date, status, 
      third_request_id, third_error_msg, third_result_code, 
      content)
    values (#{id,jdbcType=INTEGER}, #{templateId,jdbcType=INTEGER}, #{thirdType,jdbcType=VARCHAR}, 
      #{sendCode,jdbcType=VARCHAR}, #{validateCode,jdbcType=INTEGER}, #{sendDate,jdbcType=TIMESTAMP}, 
      #{validateExpireTime,jdbcType=TIMESTAMP}, #{finishDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{thirdRequestId,jdbcType=VARCHAR}, #{thirdErrorMsg,jdbcType=VARCHAR}, #{thirdResultCode,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuw.common.server.model.DO.SmsRecord">
    insert into sms_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="thirdType != null">
        third_type,
      </if>
      <if test="sendCode != null">
        send_code,
      </if>
      <if test="validateCode != null">
        validate_code,
      </if>
      <if test="sendDate != null">
        send_date,
      </if>
      <if test="validateExpireTime != null">
        validate_expire_time,
      </if>
      <if test="finishDate != null">
        finish_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="thirdRequestId != null">
        third_request_id,
      </if>
      <if test="thirdErrorMsg != null">
        third_error_msg,
      </if>
      <if test="thirdResultCode != null">
        third_result_code,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="thirdType != null">
        #{thirdType,jdbcType=VARCHAR},
      </if>
      <if test="sendCode != null">
        #{sendCode,jdbcType=VARCHAR},
      </if>
      <if test="validateCode != null">
        #{validateCode,jdbcType=INTEGER},
      </if>
      <if test="sendDate != null">
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validateExpireTime != null">
        #{validateExpireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishDate != null">
        #{finishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="thirdRequestId != null">
        #{thirdRequestId,jdbcType=VARCHAR},
      </if>
      <if test="thirdErrorMsg != null">
        #{thirdErrorMsg,jdbcType=VARCHAR},
      </if>
      <if test="thirdResultCode != null">
        #{thirdResultCode,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuw.common.server.model.DO.SmsRecord">
    update sms_record
    <set>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="thirdType != null">
        third_type = #{thirdType,jdbcType=VARCHAR},
      </if>
      <if test="sendCode != null">
        send_code = #{sendCode,jdbcType=VARCHAR},
      </if>
      <if test="validateCode != null">
        validate_code = #{validateCode,jdbcType=INTEGER},
      </if>
      <if test="sendDate != null">
        send_date = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validateExpireTime != null">
        validate_expire_time = #{validateExpireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishDate != null">
        finish_date = #{finishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="thirdRequestId != null">
        third_request_id = #{thirdRequestId,jdbcType=VARCHAR},
      </if>
      <if test="thirdErrorMsg != null">
        third_error_msg = #{thirdErrorMsg,jdbcType=VARCHAR},
      </if>
      <if test="thirdResultCode != null">
        third_result_code = #{thirdResultCode,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wuw.common.server.model.DO.SmsRecord">
    update sms_record
    set template_id = #{templateId,jdbcType=INTEGER},
      third_type = #{thirdType,jdbcType=VARCHAR},
      send_code = #{sendCode,jdbcType=VARCHAR},
      validate_code = #{validateCode,jdbcType=INTEGER},
      send_date = #{sendDate,jdbcType=TIMESTAMP},
      validate_expire_time = #{validateExpireTime,jdbcType=TIMESTAMP},
      finish_date = #{finishDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      third_request_id = #{thirdRequestId,jdbcType=VARCHAR},
      third_error_msg = #{thirdErrorMsg,jdbcType=VARCHAR},
      third_result_code = #{thirdResultCode,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuw.common.server.model.DO.SmsRecord">
    update sms_record
    set template_id = #{templateId,jdbcType=INTEGER},
      third_type = #{thirdType,jdbcType=VARCHAR},
      send_code = #{sendCode,jdbcType=VARCHAR},
      validate_code = #{validateCode,jdbcType=INTEGER},
      send_date = #{sendDate,jdbcType=TIMESTAMP},
      validate_expire_time = #{validateExpireTime,jdbcType=TIMESTAMP},
      finish_date = #{finishDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      third_request_id = #{thirdRequestId,jdbcType=VARCHAR},
      third_error_msg = #{thirdErrorMsg,jdbcType=VARCHAR},
      third_result_code = #{thirdResultCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>